@import '../base/responsive';
@import '../abstracts/variables';

html, body {
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  padding: 0;

  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

html {
  @include respond-to(mobile) {
    font-size: 10px;
  }
  @include respond-to(tablet) {
    font-size: 12px;
  }
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  
  background-color: $background-blend;
  background-image: url('@/assets/imgs/wall-texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

  @include respond-to(mobile) {
    background-image: none;
    background-color: #e4a277;
  }
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
  -webkit-user-drag: none;
}
