@import '../base/responsive';
@import '../abstracts/variables';

.polaroid-template {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tape {
  position: absolute;
  top: -4.4rem;

  img {
    width: 13rem;
    height: 9rem;
  }
}

.polaroid-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
  width: $polar-by-w;
  height: 17.8rem;
  box-shadow: 0px 7px 4px 0px #00000080;
  background: #ffffffFF;
  cursor: pointer;
}

.photo {
  display: block;
  width: $photo-w;
  height: $photo-h;
}

.shield {
  position: absolute;
  background-color: #000000;
  width: calc($photo-w / $polar-by-w * 100%);
  height: $photo-h;
}

.label {
  caret-color: rgba(0, 0, 0, 1);
  text-decoration: none;
  letter-spacing: 0px;
  font-family: "Handmade";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  margin: 0.5rem;
  
  h1 {
    margin: 0;
  }
}
