@import '../base/responsive';
@import '../abstracts/variables';

.zoom {
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    gap: 3%;
    padding-bottom: 7rem;
    background-color: rgba(0, 0, 0, 0.6);

    @include respond-to(mobile) {
      position: fixed;
      height: auto;
      min-height: 100dvh;
      max-height: 100dvh;
      padding: 0;
      left: 0;
    }

    .polaroid-body {
        width: $zoom-por-w;
        height: 30rem;
        cursor: default;

        @include respond-to(mobile) {
          width: 30rem;
          height: 35rem;
        }
    }

    .photo {
        width: $zoom-photo-w;
        height: $zoom-photo-h;

        @include respond-to(mobile) {
          width: 26rem;
          height: 26.5rem;
        }
    }

    .label {
        margin: 1rem;
        font-size: 1.875rem;
    }

    .tape {
        display: none;
    }

    #cameraProp {
      position: relative;
      width: $zoom-cam-w;
      margin: 0;
      cursor: default;

      img {
        width: $zoom-cam-w;
      }

      .overlay {
          content: '';
          position: absolute;
          z-index: 99;

          &.nxt {
            top: 36%;
            left: 73%;
            width: 9rem;
            height: 9rem;
            border-radius: 10rem;
            cursor: pointer;
          }
          &.pri {
            top: 63.5%;
            left: 71.5%;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 10rem;
            cursor: pointer;
          }
          &.dsp {
            top: 28%;
            left: 3%;
            width: 24.1rem;
            height: 20.1rem;
            background-image: none;
            background-size: cover;
            background-position: center;
          }
      }
    }

    #post-it {
      width: $zoom-post-w;
      margin: 0 auto;
      cursor: default;
      
      @include respond-to(mobile) {
        width: 40rem;
      }
      @include respond-to(tablet) {
        width: 37rem;
      }

      p {
        &#main {
          display: block;
          width: 80%;
          top: 9%;
          left: 9%;
          word-wrap: break-word;
          text-align: justify;

          font-size: 1.6rem;

          @include respond-to(mobile) {
            font-size: 2.1rem;
          }
          @include respond-to(tablet) {
            font-size: 2rem;
          }
        }

        &#thumb {
          display: none;
        }
      }
    }
}

#disable-zoom {
    display: flex;
    flex-direction: row-reverse;
    color: white;

    @include respond-to(mobile) {
      margin-bottom: 5%;
    }

    &.disable-polaroid {
      width: calc($zoom-por-w + 5.5rem);
    }

    &.disable-camera {
      width: calc($zoom-cam-w + 5.5rem);

      @include respond-to(mobile) {
        width: 35rem;
      }
    }

    &.disable-postIt {
      width: calc($zoom-post-w + 5.5rem);
    }

    p {
        font-size: 50px;
        margin: 0;
        cursor: pointer;
    }
}
