#locker {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#locker-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d448e;
  background-image: url(@/assets/imgs/locker.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.splitter {
  z-index: 1;
  width: 37%;

  &.sp1{
  }

  &.sp2{
  }
}

.above-splitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 36%;

  &.bs1 {
    margin-top: 5%;
    margin-bottom: -0.5%;
  }

  &.bs2 {
    gap: 45%;
    margin-top: 5%;
    margin-bottom: -1%;
  }
}

#post-it {
  position: relative;
  width: 10%;
  margin-left: 15%;
  cursor: pointer;

  img {
    width: 100%;
  }

  p {
    position: absolute;
    top: 1%;
    left: 25%;

    &#main {
      display: none;
    }
  }
}

#voleyball {
  width: 30%;
  margin-left: 40%;
}

#stanley {
  width: 20%;
  cursor: pointer;
}

#cameraProp {
  z-index: 3;
  width: 7rem;
  margin-top: 8rem;
  margin-left: 1rem;
  cursor: pointer;

  img {
    width: 100%;
  }
}

#bookshelf {
  width: 30.7rem;
  height: 12.4rem;
  margin-bottom: 0.5%;
}

