@import '../base/responsive';
@import '../abstracts/variables';

#polaroid1 {
  transform: translateX(1rem) rotate(20deg);
}

#polaroid2 {
  transform: rotate(-15deg);
}

@for $i from 1 through 3 {
  #column-#{$i} {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
    margin: auto;

    @include respond-to(mobile) {
      flex-direction: row;
      width: auto;
      height: auto;
    }
    @include respond-to(tablet) {
      flex-direction: row;
      width: auto;
      height: auto;
    }
  }
}

@for $i from 1 through 2 {
  #polaroid#{$i} {
    transition: 0.5s ease;

    &:hover {
      transform: rotate(0deg);
    }
  }
}
