.fade-enter-active, .fade-leave-active {
  transition: opacity 0.8s ease;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.8s ease;
}
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.scroll-enter-from {
  opacity: 0;
  transform: translateY(120vh);
}
.scroll-enter-to {
  opacity: 1;
  transform: translateY(0);
}
.scroll-leave-from {
  opacity: 1;
  transform: translateY(0);
}
.scroll-leave-to {
  opacity: 0;
  transform: translateY(-120vh);
}
.scroll-enter-active,
.scroll-leave-active {
  transition: all 1s ease-in-out;
}
