$background-default: #e4a277;
$background-blend: #805538;

$polar-by-w: 14rem;
$polar-by-h: 17.8rem;
$photo-w: $polar-by-w - 2rem;
$photo-h: $polar-by-h - 4.8rem;

$zoom-por-w: 25rem;
$zoom-por-h: 35.6rem;
$zoom-photo-w: $zoom-por-w - 4rem;
$zoom-photo-h: $zoom-por-h - 13rem;

$zoom-cam-w: 40rem;

$zoom-post-w: 30rem;
